.music-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 10px;
}

.music-cards .card {
  flex: 1 1 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--muted);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.music-cards .card-img {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.music-cards .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.music-cards .card-title {
  padding: 12px;
  background-color: var(--accent);
  color: var(--text);
  text-align: center;
  font-size: 16px;
}