.home-list {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 5px;
  gap: 10px;
}

.home-list {
  gap: 16px;                   
}
